<!-- header start -->
<app-generic-loader [visible]="isLoading" />
<header class="flex items-center justify-between lg:px-6 px-3 py-2 h-16 bg-white">
  <div class="">
    <p class="font-normal text-2xl">{{ this.sharedService.T('customer') }} #{{this.customer.customerId}} -
      {{this.customer.customerName}} </p>
  </div>
</header>
<!-- header end -->
<section class="px-5 pb-10">
  <!-- Customer Information Section -->
  <div class="grid grid-cols-12 gap-9 mt-10">
    <!-- Customer Card -->
    <div class="col-span-4 bg-white p-5 text-center rounded border border-border space-y-3">
      <div
        class="h-[70px] w-[70px] rounded-full mx-auto border border-border flex items-center justify-center font-medium text-2xl">
        <p>UM</p>
      </div>
      <p-tag [value]="customer.customerTypeName" severity="info" />
      <p class="text-2xl font-semibold">{{ customer.customerName }}</p>
      <p class="text-xs text-gray-dark">
        Tag: <span class="font-bold">{{ customer.customerTagName }}</span>
      </p>
      <p-button size="small" variant="outlined" icon="pi pi-pencil" [label]="this.sharedService.T('editCustomer')"
        (onClick)="redirectToCustomerCrudComponent()"></p-button>


    </div>

    <!-- Customer Details -->
    <div class="col-span-8 bg-white p-5 rounded border border-border">
      <div class="grid grid-cols-12 gap-4">
        <div class="lg:col-span-4 md:col-span-6 mb-4">
          <p class="font-bold text-sm">{{ this.sharedService.T('organizationNumber') }}</p>
          <p class="text-sm">{{ customer.organizationNo }}</p>
        </div>
        <div class="lg:col-span-4 md:col-span-6 mb-4">
          <p class="font-bold text-sm">{{ this.sharedService.T('careof') }}</p>
          <p class="text-sm">{{ customer.careOf }}</p>
        </div>
        <div class="lg:col-span-4 md:col-span-6 mb-4">
          <p class="font-bold text-sm">{{ this.sharedService.T('telephone') }}</p>
          <p class="text-sm">{{ customer.telephone }}</p>
        </div>
        <div class="lg:col-span-4 md:col-span-6 mb-4">
          <p class="font-bold text-sm">{{ this.sharedService.T('email') }}</p>
          <p class="text-sm">{{ customer.email }}</p>
        </div>
        <div class="lg:col-span-4 md:col-span-6 mb-4">
          <p class="font-bold text-sm">{{ this.sharedService.T('digitalWorkshopId') }}</p>
          <p class="text-sm">{{ customer.digitalServiceId }}</p>
        </div>
        <div class="lg:col-span-4 md:col-span-6 mb-4">
          <p class="font-bold text-sm">{{ this.sharedService.T('paymentsTerms') }}</p>
          <p class="text-sm">{{ customer.invoiceCreditDays }} dagar</p>
        </div>
        <div class="lg:col-span-4 md:col-span-6 mb-4">
          <p class="font-bold text-sm">{{ this.sharedService.T('address') }}</p>
          <p class="text-sm">
            {{ customer.customerAddress }} {{ customer.customerPostNo }}
            {{ customer.customerCity }}
          </p>
        </div>
        <div class="lg:col-span-4 md:col-span-6">
          <p class="font-bold text-sm">{{ this.sharedService.T('creditCustomer') }}</p>
          <p class="text-sm">{{customer.isCreditAllowed ? this.sharedService.T('yes') : this.sharedService.T('no')}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabs Section -->
  <div class="mt-10">
    <p-tabs value="0">
      <p-tablist>
        <p-tab value="0">{{ this.sharedService.T('workorders') }}</p-tab>
        <p-tab value="1">{{ this.sharedService.T('offers') }}</p-tab>
        <p-tab value="2">{{ this.sharedService.T('invoices') }}</p-tab>
      </p-tablist>
      <p-tabpanels>
        <!-- Offers Tab -->
        <p-tabpanel value="0">
          <div class="bg-white p-3 rounded border border-border mt-3 flex justify-between items-center">
            <div class="flex gap-5">
              <div class="flex gap-1 my-auto">
              </div>
              <div class="flex gap-1 my-auto">
              </div>
              <div class="flex gap-1 my-auto">
              </div>
            </div>
            <p-button [raised]="true" label="{{this.sharedService.T('createWorkorder')}}" icon="pi pi-plus" size="small"
              (click)="redirectToWorkOrderCrudComponent()" styleClass="!border-0"></p-button>
          </div>

          <!-- workorder Table -->
          <div class="">
            <p-table 
            [value]="orders" 
            [tableStyle]="{'min-width': '50rem', 'font-size': '14px', 'border-collapse': 'separate', 'border-spacing': '0px 3px',}"
            [showGridlines]="false" 
            [rows]="10"
            [first]="0"
            [paginator]="true"
            [rowsPerPageOptions]="[10, 20,30]"  
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} {{ this.sharedService.T('of') }} {totalRecords} "
            sortField="workOrderId" 
            [sortOrder]="-1"
            data-testid="customer-table">
            
              <ng-template pTemplate="header">
                <tr class="">
                  <th class="table-header-cell id-column-header rounded-l" pSortableColumn="workOrderId">
                    <p-sortIcon field="workOrderId" />
                  </th>
                  <th class="table-header-cell">{{ this.sharedService.T('date') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('vehiclePlate') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('vehicleInfo') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('customer') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('puchaseorderCount') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('paymentType') }}</th>
                  <th class="table-header-cell">Status</th>
                  <th class="table-header-cell rounded-r"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-order>
                <tr class="p-selectable-row">
                  <td class="id-column-cell rounded-l">
                    <div class="flex items-center gap-2 cursor-pointer"
                      (click)="redirectToWorkOrderDetailComponent(order.workOrderId)">
                      <span>{{ order.workOrderId }}</span>
                      <i class="pi pi-external-link icon-primary"></i>
                    </div>
                  </td>
                  <td>{{ order.workOrderDate }}</td>
                  <td>
                    <strong>{{ order.vehiclePlate }} </strong>
                  </td>
                  <td> {{order?.vehicleManufacturer}} {{order?.vehicleModel}} {{order?.vehicleYear}} </td>

                  <td title="{{ order.customerName }}" (click)="redirectToWorkOrderDetailComponent(order.workOrderId)">
                    {{ order.customerName.length > 25 ? (order.customerName | slice:0:25) +
                    '...' : order.customerName }}
                  </td>
                  <td>{{ order.poCount }}</td>
                  <td>{{this.sharedService.getEnumByValue('paymentType',order.paymentType).text}}</td>
                  <td class="id-column-cell">

                    <p-select [options]="getFilteredEnums(order.workOrderStatus)" [(ngModel)]="order.workOrderStatus"
                      [ngModelOptions]="{ standalone: true }" [optionLabel]="'text'"
                      [style]="{ width: '179px', textAlign: 'center' }"
                      [optionValue]="'value'" appendTo="body"
                      (onChange)="onStatusChange(order.workOrderId, $event.value)">
                      <ng-template let-option pTemplate="item">
                        <p-tag [value]="option.text" [severity]="getSeverityWorkOrder(option.value)"></p-tag>
                      </ng-template>

                      <!-- Custom Template for Selected Option -->
                      <ng-template let-option pTemplate="selectedItem">
                        <!-- <span class="id-column-cell id-text">{{ option.text }}</span> -->
                        <p-tag [value]="option.text" [severity]="getSeverityWorkOrder(option.value)"></p-tag>
                      </ng-template>
                    </p-select>


                  </td>
                  <td>
                    @if(order.workOrderStatus == 'booking')
                    {
                    <p-button severity="danger" size="small" styleClass="icon-only-button !border-0"
                      pTooltip="Ta bort bokning" tooltipPosition="top"
                      (onClick)="deleteBooking(order.workOrderId, $event)" icon="pi pi-trash"></p-button>
                    }
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabpanel>

        <!-- workorder Tab Finish -->


        <!-- Offers Tab -->
        <p-tabpanel value="1">
          <div class="bg-white p-3 rounded border border-border mt-3 flex justify-between items-center">
            <div class="flex gap-5">
              <div class="flex gap-1 my-auto">
                <span class="text-sm">{{ this.sharedService.T('totalSum') }}:</span>
                <span class="text-sm font-bold">{{ offerTotal }} SEK</span>
              </div>
              <div class="flex gap-1 my-auto">
                <span class="text-sm">{{ this.sharedService.T('approved') }}:</span>
                <span class="text-sm font-bold">{{ offerAccepted }} SEK </span>
              </div>
              <div class="flex gap-1 my-auto">
                <span class="text-sm">{{ this.sharedService.T('rejected') }}:</span>
                <span class="text-sm font-bold">{{ offerRejected }} SEK</span>
              </div>
            </div>
            <p-button [raised]="true" label="{{ this.sharedService.T('create') }} {{ this.sharedService.T('offer') }}"
              icon="pi pi-plus" size="small" (click)="redirectToOfferCrudComponent()" styleClass="!border-0"></p-button>
          </div>

          <!-- Offers Table -->
          <div class="mt-2">
            <p-table 
            [value]="offers" 
            [rows]="10"
            [tableStyle]="{ 'min-width': '50rem', 'font-size': '14px', 'border-collapse': 'separate', 'border-spacing': '0px 3px' }"
            [showGridlines]="false" 
            [first]="0"
            [paginator]="true"
            [rowsPerPageOptions]="[10, 20,30]"  
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} {{ this.sharedService.T('of') }} {totalRecords} "
            sortField="offerId" 
            [sortOrder]="-1"
            data-testid="customer-table">
              <ng-template pTemplate="header" styleClass="">
                <tr class="table-header-row">
                  <th class="table-header-cell id-column-header rounded-l" pSortableColumn="offerId"><p-sortIcon
                      field="offerId" /></th>
                  <th class="table-header-cell">{{ this.sharedService.T('vehiclePlate') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('customer') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('amount') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('offerDate') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('validFrom') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('validTo') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('deliveryStatus') }}</th>
                  <th class="table-header-cell">Status</th>
                  <th class="table-header-cell rounded-r"></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-offer>
                <tr class="p-selectable-row">
                  <td class="id-column-cell rounded-l">
                    <div class="flex items-center gap-2 cursor-pointer"
                      (click)="redirectToOfferDetailComponent(offer.offerId,offer.isSent,offer.isAccepted,offer.isRejected,offer.customerId,offer.customerEmail)">
                      <span>{{ offer.offerId }}</span>
                      <i class="pi pi-external-link icon-primary"></i>
                    </div>
                  </td>
                  <td> <strong>{{ offer.vehiclePlate }}</strong></td>
                  <td title="{{ offer.customerName }}">
                    {{ offer.customerName.length > 18 ? (offer.customerName | slice: 0:18) + '...' : offer.customerName
                    }}
                  </td>
                  <td>
                    <p-inputnumber [(ngModel)]="offer.priceIncVat" [ngModelOptions]="{standalone: true}"
                      inputId="minmax" mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                      [locale]="this.sharedService.currentLocale"
                      [inputStyle]="{ 'background-color': 'transparent', 'width': '80px', 'display': 'block', 'padding': '0px', 'border': 'none' }"
                      readonly="true" class="with-out-border"></p-inputnumber>
                  </td>
                  <td>{{ offer.offerDate }}</td>
                  <td>{{ offer.validFrom }}</td>
                  <td>{{ offer.validTill }}</td>
                  <td>
                    <p-togglebutton [disabled]="offer.isSent" (onChange)="confirmMarkAsSent($event, offer)"
                      [(ngModel)]="offer.isSent" [ngModelOptions]="{ standalone: true }"
                      [onLabel]="this.sharedService.T('sent')" [offLabel]="this.sharedService.T('notSent')"
                      onIcon="pi pi-check" offIcon="pi pi-times" size="small"
                      ></p-togglebutton>
                  </td>
                  <td class="id-column-cell">
                    <p-select [options]="this.sharedService.getEnums('offerType')" [(ngModel)]="offer.selectedOfferType"
                      [ngModelOptions]="{ standalone: true }" [style]="{ width: '190px' }" [optionLabel]="'text'"
                      [optionValue]="'value'" appendTo="body" (onChange)="onOfferTypeChange(offer, $event.value)">
                      <ng-template let-option pTemplate="item">
                        <p-tag [value]="option.text" [severity]="getSeverityOffer(option.value)"></p-tag>
                      </ng-template>
                      <ng-template let-option pTemplate="selectedItem">
                        <p-tag [value]="option.text" [severity]="getSeverityOffer(option.value)"></p-tag>
                      </ng-template>
                    </p-select>
                  </td>




                  <td class="!border-0">
                    <i class="pi pi-file-pdf icon-primary text-xl cursor-pointer" (click)="generatePdfOffer(offer)"
                      [pTooltip]="this.sharedService.T('tppdf')" tooltipPosition="top"
                      tooltipStyleClass="custom-tooltip"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabpanel>

        <!-- Invoices Tab -->
        <p-tabpanel value="2">
          <div class="bg-white p-3 rounded border border-border mt-3 flex justify-between items-center">
            <div class="flex gap-5">
              <div class="flex gap-1 my-auto">
                <span class="text-sm">{{ this.sharedService.T('totalSum') }}:</span>
                <span class="text-sm font-bold">{{ invoiceTotal }} SEK</span>
              </div>
              <div class="flex gap-1 my-auto">
                <span class="text-sm">{{ this.sharedService.T('paid') }}:</span>
                <span class="text-sm font-bold">{{ invoicePaid }} SEK</span>
              </div>
              <div class="flex gap-1 my-auto">
                <span class="text-sm">{{ this.sharedService.T('outstandingBalance') }}:</span>
                <span class="text-sm font-bold">{{ invoiceBalance }} SEK</span>
              </div>
            </div>
            <p-button [raised]="true" label="{{ this.sharedService.T('btncreateInvoice') }}" icon="pi pi-plus"
              size="small" (click)="redirectToInvoiceCrudComponent()" styleClass="!border-0"></p-button>
          </div>

          <!-- Invoices Table -->
          <div class="mt-2">
            <p-table 
            [value]="invoices" 
            [rows]="10"
            [tableStyle]="{ 'min-width': '50rem', 'font-size': '14px', 'border-collapse': 'separate', 'border-spacing': '0px 3px' }"
            [showGridlines]="false" 
            [first]="0"
            [paginator]="true"
            [rowsPerPageOptions]="[10, 20,30]"  
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} {{ this.sharedService.T('of') }} {totalRecords} "
            sortField="invoiceId" 
            [sortOrder]="-1">
              
              <!-- Table Header -->
              <ng-template #header>
                <tr class="table-header-row">
                  <th class="table-header-cell id-column-header rounded-l" pSortableColumn="invoiceId">
                    <p-sortIcon field="invoiceId" />
                  </th>
                  <th class="table-header-cell">{{ this.sharedService.T('vehiclePlate') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('amount') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('invoiceDate') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('dueDate') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('paymentType') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('paymentStatus') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('deliveryStatus') }}</th>
                  <th class="table-header-cell">{{ this.sharedService.T('comments') }}</th>
                  <th class="table-header-cell rounded-r"></th>
                </tr>
              </ng-template>

              <!-- Table Body -->
              <ng-template #body let-invoice>
                <tr class="p-selectable-row">
                  <td class="id-column-cell rounded-l">
                    <div class="flex items-center gap-2"
                      (click)="redirectToInvoiceDetailComponent(invoice.isSent, invoice.isPaid, invoice.priceIncVat, invoice.customerId, invoice.customerEmail, invoice.invoiceId)">
                      <span>{{ invoice.invoiceId }}</span>
                      <i class="pi pi-external-link icon-primary"></i>
                    </div>
                  </td>
                  <!-- Vehicle Plate -->
                  <td>
                    <strong>{{ invoice.vehiclePlate }} </strong>
                  </td>

                  <td>
                    <p-inputnumber [(ngModel)]="invoice.priceIncVat" [ngModelOptions]="{ standalone: true }"
                      inputId="minmax" mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                      [locale]="this.sharedService.currentLocale"
                      [inputStyle]="{ 'background-color': 'transparent', 'width': '80px', 'display': 'block', 'padding': '0px', 'border': 'none' }"
                      readonly="true" class="with-out-border"></p-inputnumber>
                  </td>
                  <td>{{ invoice.invoiceDate }}</td>
                  <td>{{ invoice.dueDate }}</td>
                  <td>{{ this.sharedService.getEnumByValue('paymentType', invoice.paymentType).text }}</td>
                  <!-- Payment Status -->
                  <td>
                    @if (invoice.priceIncVat < 0) { <p-button [disabled]="true"
                      label="{{ this.sharedService.getEnumByValue('invoiceType', 'credited').text }}" variant="outlined"
                      size="small" styleClass="text-xs h-9 w-24" severity="success"
                      (onClick)="showPaymentDialog(invoice)" [pTooltip]="this.sharedService.T('tppaymentHistory')"
                      tooltipStyleClass="custom-tooltip"></p-button>
                      }
                      @else if (invoice.remainingBalance == 0)
                      {
                      <p-button label="{{ this.sharedService.getEnumByValue('invoiceType', 'paid').text }}"
                        variant="outlined" size="small" styleClass="text-xs h-9 w-24" severity="success"
                        (onClick)="showPaymentDialog(invoice)" [pTooltip]="this.sharedService.T('tppaymentHistory')"
                        tooltipStyleClass="custom-tooltip"></p-button>
                      }
                      @else if (invoice.remainingBalance > 0 && invoice.remainingBalance < invoice.priceIncVat) {
                        <p-button label="{{ this.sharedService.getEnumByValue('invoiceType', 'partiallypaid').text }}"
                        variant="outlined" size="small" styleClass="text-xs h-9 w-24" severity="warn"
                        (onClick)="showPaymentDialog(invoice)" [pTooltip]="this.sharedService.T('tppaymentHistory')"
                        tooltipStyleClass="custom-tooltip"></p-button>
                        }
                        @else
                        {
                        <p-button label="{{ this.sharedService.getEnumByValue('invoiceType', 'unpaid').text }}"
                          variant="outlined" size="small" styleClass="text-xs h-9 w-24" severity="danger"
                          (onClick)="showPaymentDialog(invoice)" [pTooltip]="this.sharedService.T('tppaymentHistory')"
                          tooltipStyleClass="custom-tooltip"></p-button>
                        }
                  </td>

                  <!-- Delivery Status -->
                  <td>
                    <p-togglebutton [disabled]="invoice.isSent" (onChange)="confirmMarkAsSent($event, invoice)"
                      [(ngModel)]="invoice.isSent" [ngModelOptions]="{ standalone: true }"
                      [onLabel]="this.sharedService.T('sent')" [offLabel]="this.sharedService.T('notSent')"
                      onIcon="pi pi-check" offIcon="pi pi-times" size="small"></p-togglebutton>
                  </td>

                  <!-- Remarks -->
                  <td class="rounded-r">
                    @if(invoice.remainingBalance > 0 && invoice.remainingBalance < invoice.priceIncVat) { <span>{{
                      this.sharedService.T('remaining') }} </span>
                      <p-inputnumber [(ngModel)]="invoice.remainingBalance" [ngModelOptions]="{standalone: true}"
                        inputId="minmax" mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                        [locale]="this.sharedService.currentLocale"
                        [inputStyle]="{ 'background-color': 'transparent', 'width': '80px', 'display': 'block', 'padding': '0px', 'border': 'none' }"
                        readonly="true" class="with-out-border"></p-inputnumber>
                      }
                  </td>

                  <td class="!border-0 rounded-r">
                    <i class="pi pi-file-pdf icon-primary text-xl cursor-pointer" (click)="generatePdfInvoice(invoice)"
                      [pTooltip]="this.sharedService.T('tppdf')" tooltipPosition="top"
                      tooltipStyleClass="custom-tooltip"></i>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabpanel>
        <p-toast position="top-right" />
        <p-confirmdialog />
        <p-dialog [modal]="true" [(visible)]="isDialogVisible"
          [style]="{ width: '600px' }" (onHide)="onCloseDialog()">
          <!-- Header Template -->
          <ng-template #header>
            <div class="flex justify-between items-center">
              <h2 class="text-xl font-bold text-gray-header">{{ this.sharedService.T('invoice') }} # {{
                this.payment.get('invoiceId')?.value }}</h2>
            </div>
          </ng-template>

          <!-- Content Section -->
          <div class="p-3 bg-white">
            <form [formGroup]="payment">
              <!-- Customer Info -->
              <div class="mb-6">
                <p class="text-lg font-semibold text-gray-header">{{ selectedCustomerName }}</p>
                <div class="text-right space-y-4"> <!-- Add vertical spacing with space-y-4 -->
                  <!-- Total Sum -->
                  <p class="text-base text-gray-dark ">
                    {{ this.sharedService.T('totalSum') }}:
                    <p-inputnumber [(ngModel)]="selectedPriceIncvat" [ngModelOptions]="{ standalone: true }"
                      inputId="minmax" mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                      [locale]="this.sharedService.currentLocale" readonly="true"
                      class="with-out-border right-aligned-input"></p-inputnumber>
                  </p>

                  <!-- Paid -->
                  <p class="text-base text-gray-dark ">
                    {{ this.sharedService.T('paid') }}:
                    <p-inputnumber [(ngModel)]="selectedTotalPaid" [ngModelOptions]="{ standalone: true }"
                      inputId="minmax" mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                      [locale]="this.sharedService.currentLocale" readonly="true"
                      class="with-out-border right-aligned-input"></p-inputnumber>
                  </p>

                  <!-- Outstanding Balance -->
                  <p class="text-base text-gray-header font-semibold ">
                    {{ this.sharedService.T('outstandingBalance') }}:
                    <p-inputnumber [(ngModel)]="selectedRemainingBalance" [ngModelOptions]="{ standalone: true }"
                      inputId="minmax" mode="currency" currency="SEK" [minFractionDigits]="0" [maxFractionDigits]="0"
                      [locale]="this.sharedService.currentLocale" readonly="true"
                      class="with-out-border right-aligned-input text-danger"></p-inputnumber>
                  </p>
                </div>
              </div>
              <!-- Payment History Table -->
              <div class="mb-6">
                <p class="text-lg font-semibold text-gray-header">{{ this.sharedService.T('paymentHistory') }}</p>
                <p-table styleClass="text-sm" [tableStyle]="{ 'min-width': '100%' }" [value]="selectedPayments"
                  responsiveLayout="scroll">
                  <ng-template pTemplate="header">
                    <tr>
                      <th class="p-2 text-left">{{ this.sharedService.T('action') }}</th>
                      <th class="p-2 text-left">{{ this.sharedService.T('date') }}</th>
                      <th class="p-2 text-center">{{ this.sharedService.T('amount') }}</th>
                      <th class="p-2 text-center">{{ this.sharedService.T('paymentNote') }}</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-payment>
                    <tr>
                      <td class="p-2">
                          <p-button size="small" severity="danger" icon="pi pi-trash"
                            [pTooltip]="this.sharedService.T('delete') + ' ' + this.sharedService.T('payment')" tooltipPosition="top"
                            (onClick)="confirmDeletePayment($event, payment.invoiceId, payment.invoicePaymentId)">
                     </p-button>

                        </td>
                      <td class="p-2">{{ payment.paymentDate }}</td>
                      <td class="p-2 text-center">{{ payment.paymentAmount }}</td>
                      <td class="p-2 text-center">
                        <p-button [pTooltip]="payment.paymentNote" tooltipPosition="top"
                          tooltipStyleClass="custom-tooltip" label="N"></p-button>

                      </td>
                      <td class="p-2 text-center">{{ payment.paymentNote }}</td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>

              <!-- Payment Form -->
              <div class="grid grid-cols-2 gap-4 mb-6">
                <!-- Payment Date -->
                <div>
                  <label class="block text-sm font-medium text-gray-dark mb-1">{{ this.sharedService.T('paymentDate')
                    }}</label>
                  <p-datepicker formControlName="paymentDate" [disabled]="addPaymentBtnDisabled" dataType="string"
                    class="w-full" iconDisplay="input" [showIcon]="false"
                    dateFormat="yy-mm-dd" (onSelect)="onPaymentDateChange($event)"></p-datepicker>
                </div>

                <!-- Paid Amount -->
                <div>
                  <label class="block text-sm font-medium text-gray-dark mb-1">{{ this.sharedService.T('paidAmount')
                    }}</label>
                  <p-inputnumber [disabled]="addPaymentBtnDisabled" formControlName="paymentAmount"
                    [placeholder]="this.sharedService.T('paidAmount')" inputId="minmax" mode="decimal" [min]="0"
                    class="w-full" [useGrouping]="false"></p-inputnumber>
                </div>
              </div>

              <!-- Payment Note -->
              <div class="mb-6">
                <label class="block text-sm font-medium text-gray-dark mb-1">{{ this.sharedService.T('paymentNote')
                  }}</label>
                <textarea [disabled]="addPaymentBtnDisabled" class="w-full" formContolName="paymentNote" rows="2"
                  ></textarea>
              </div>

              <!-- Buttons -->
              <div class="flex justify-end gap-3">
                <p-button [disabled]="addPaymentBtnDisabled" label="{{ this.sharedService.T('btnAddPayment') }}"
                icon="pi pi-plus" (click)="onSave()"></p-button>

                <p-button  severity="secondary" label="{{ this.sharedService.T('cancel') }}"
                  (click)="onCancel()"></p-button>
              </div>
            </form>
          </div>
        </p-dialog>



      </p-tabpanels>
    </p-tabs>
  </div>
</section>
