<app-generic-loader [visible]="isLoading" />
<section class="p-6 pb-10 bg-white">
    <form [formGroup]="filters">
        <div class="mb-6 mt-10 bg-white rounded p-5 border border-border">
            <div class="list-page-actionbar mb-6">
                <div class="list-page-actionbar-left">
                    <p-button [raised]="true"
                        label="{{ this.sharedService.T('create') }} {{ this.sharedService.T('workorder') }}"
                        size="large" icon="pi pi-plus" (click)="redirectToOrderCrudComponent()" />

                    <p-select [options]="this.sharedService.getEnums('workOrderStatus')"
                        formControlName="workOrderStatus" optionLabel="text" optionValue="value"
                        (onChange)="onChangeType($event,'status')" [checkmark]="true" [showClear]="true"
                        placeholder="Status" (onClear)="onClearWorkOrderStatus()" />
                    <p-select [options]="this.sharedService.getEnums('paymentType')" formControlName="paymentType"
                        optionLabel="text" optionValue="value" (onChange)="onChangeType($event,'payment')"
                        [checkmark]="true" [showClear]="true" placeholder="{{ this.sharedService.T('paymentType') }}"
                        (onClear)="onClearPaymentType()" />
                </div>
                <div class="list-page-actionbar-mid">
                    <p-checkbox [(ngModel)]="hideDeletedBookings" [binary]="true" [ngModelOptions]="{standalone: true}"
                        (onChange)="HideDeletedBookings($event)">
                    </p-checkbox>
                    <label class="ml-2 whitespace-nowrap">{{this.sharedService.T('hideDeletedBookings')}}</label>
                </div>

                <div class="list-page-actionbar-right">
                    <div class="flex items-center gap-3">
                        <div class="text-xs font-semibold text-gray-dark">{{ this.sharedService.T('year') }}:</div>
                        <p-datepicker formControlName="year" view="year" dateFormat="yy" class="w-19"
                            (onSelect)="onSelectYear($event)" />
                    </div>
                    <div class="flex items-center gap-3">
                        <p-date-picker dataType="string" formControlName="fromDate"
                            class="w-30" dateFormat="yy-mm-dd" [iconDisplay]="'input'"
                            [showIcon]="false" placeholder="From" (onSelect)="onSelectFromDate()">
                        </p-date-picker>

                        <span class="flex items-center justify-center h-8 w-8 rounded-full" style="background-color: var(--p-primary-100);">
                            <i class="pi pi-arrow-right icon-primary text-sm"></i>
                        </span>

                        <p-date-picker dataType="string" class="w-30"
                            formControlName="toDate" dateFormat="yy-mm-dd" [iconDisplay]="'input'"
                            [showIcon]="false" placeholder="To" (onSelect)="onSelectToDate()">
                        </p-date-picker>
                    </div>
                    <div class="rounded ml-auto mb-3">
                        <div class="w-full ps-2 h-10 rounded ">
                             <p-iconfield>
                             <p-inputicon class="pi pi-search" />
                            <p-autoComplete formControlName="vehiclePlate" [suggestions]="vehiclePlates"
                                placeholder="{{ this.sharedService.T('search') }} {{ this.sharedService.T('vehiclePlate') }}"
                                (onSelect)="onSelectNumberPlate($event)" (onClear)="onClearNumberPlate()"
                                (keyup)="keyupNumberPlate($event.target)" optionLabel="vehiclePlate" [showClear]="true"
                                >
                                <ng-template let-vehiclePlate pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ vehiclePlate }}</div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                             </p-iconfield>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="border-border">
        </div>

        <p-toast position="top-right" />
        <p-confirmdialog />
        <div class="">
            <p-table 
                [lazy]="true" 
                [value]="orders" 
                [showGridlines]="false"
                [paginator]="true"
                [rows]="filters.get('pageSize')?.value"
                [first]="(filters.get('currentPage')?.value - 1) * filters.get('pageSize')?.value"
                [totalRecords]="totalRecords"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="{first} - {last} {{ this.sharedService.T('of') }} {totalRecords}"
                [showFirstLastIcon]="true"
                (onLazyLoad)="onPageChange($event)"
                [sortField]="sortField"
                [sortOrder]="sortOrder"
                responsiveLayout="scroll"
                data-testid="workorder-table">

                <ng-template pTemplate="header">
                    <tr>
                        <th class="rounded-l" pSortableColumn="workOrderId">
                            {{ this.sharedService.T('id') }}
                            <p-sortIcon field="workOrderId"></p-sortIcon>
                        </th>
                        <th>{{ this.sharedService.T('date') }}</th>
                        <th>{{ this.sharedService.T('vehiclePlate') }}</th>
                        <th>{{ this.sharedService.T('vehicleInfo') }}</th>
                        <th pSortableColumn="customerName">{{ this.sharedService.T('customer') }} 
                            <p-sortIcon field="customerName"></p-sortIcon>
                        </th>
                        <th>{{ this.sharedService.T('estimatedHours') }}</th>
                        <th>{{ this.sharedService.T('puchaseorderCount') }}</th>
                        <th>{{ this.sharedService.T('paymentType') }}</th>
                        <th>Status</th>
                        <th class="rounded-r"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="10" class="text-center">
                            {{ this.sharedService.T('noRecordsFound') }}
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-order>
                    <tr [ngClass]="{'row-inactive': order.isActive === 0}">
                        <td class="id-column-cell rounded-l">
                            <div class="flex items-center gap-2 cursor-pointer"
                                (click)="redirectToOrderDetailComponent(order.workOrderId)">
                                <span class="id-text">{{ order.workOrderId }}</span>
                                <i class="pi pi-external-link icon-primary" ></i>
                                <p-tag *ngIf="order.createdVia" severity="info" icon="pi pi-whatsapp"
                                    [value]="order.createdByName ? (sharedService.T('createdVia') + ': ' + order.createdByName) : sharedService.T('createdViaBot')"
                                    [pTooltip]="sharedService.T('createdViaBotHint')"></p-tag>
                            </div>
                        </td>
                        <td>{{ order.workOrderDate }}</td>
                        <td><strong>{{ order.vehiclePlate }}</strong></td>
                        <td>{{order?.vehicleManufacturer}} {{order?.vehicleModel}} {{order?.vehicleYear}}</td>
                        <td title="{{ order.customerName }}"
                            (click)="redirectToOrderDetailComponent(order.workOrderId)">
                            {{ order.customerName.length > 25 ? (order.customerName | slice:0:25) + '...' :
                            order.customerName }}
                        </td>
                        <td>{{ order.estimatedHours }}</td>
                        <td>{{ order.purchaseCount }}</td>
                        <td>{{this.sharedService.getEnumByValue('paymentType',order.paymentType).text}}</td>

                        <td>
                            @if(order.isActive !== 0) {
                            <p-select [options]="getFilteredEnums(order.workOrderStatus)"
                                [(ngModel)]="order.workOrderStatus" [ngModelOptions]="{ standalone: true }"
                                [style]="{ width: '179px', textAlign: 'center' }" [optionLabel]="'text'" [optionValue]="'value'"
                                appendTo="body" (onChange)="onStatusChange(order.workOrderId, $event.value)">
                                <ng-template let-option pTemplate="item">
                                    <p-tag [value]="option.text" [severity]="getSeverity(option.value)"></p-tag>
                                </ng-template>
                                <ng-template let-option pTemplate="selectedItem">
                                    <p-tag [value]="option.text" [severity]="getSeverity(option.value)"></p-tag>
                                </ng-template>
                            </p-select>
                            } @else {
                            <p-tag
                                [value]="this.sharedService.getEnumByValue('workOrderStatus', order.workOrderStatus).text"
                                [severity]="getSeverity(order.workOrderStatus)">
                            </p-tag>
                            }
                        </td>

                        <td class="rounded-r">
                            @if(order.workOrderStatus == 'booking' && order.isActive === 1) {
                            <p-button severity="danger" size="small" styleClass="icon-only-button !border-0"
                                [pTooltip]="this.sharedService.T('deleteBooking')" tooltipPosition="top"
                                (onClick)="deleteBooking(order.workOrderId, $event)" icon="pi pi-trash">
                            </p-button>
                            }
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </form>
</section>