<div class="flex items-center gap-2 p-3 border border-border rounded bg-white">
  <i class="pi pi-sparkles icon-primary"></i>
  <input
    pInputText
    type="text"
    class="flex-1"
    [(ngModel)]="text"
    [placeholder]="placeholder || sharedService.T('aiAssistPlaceholder')"
    [disabled]="loading"
    (keydown.enter)="submit()"
  />
  <app-voice-input-button (transcribed)="onVoiceTranscribed($event)"></app-voice-input-button>
  <button
    pButton
    type="button"
    [label]="sharedService.T('aiAssistSubmit')"
    [loading]="loading"
    (click)="submit()"
  ></button>
</div>
