<section class="px-5 py-10">
    <form [formGroup]="filters">
        <div class="mb-6 mt-10 shadow-sm bg-white rounded-md p-5">
            <div class="flex items-center gap-4 flex-wrap md:flex-nowrap mb-6">
                <div class="flex items-center gap-4 flex-wrap md:flex-nowrap w-full">

                    <div>
                        <p-button size="large" styleClass="w-full mb-3"
                            label="{{this.sharedService.T('createSupplier')}}"
                            (onClick)="supplierCrud(0)">
                            <i class="pi pi-plus mr-2"></i>
                        </p-button>
                    </div>

                </div>
            </div>
            <hr class="border-CustomBorder" />
        </div>

        <div class="mb-10">
        <p-table 
          [value]="suppliers" 
            [showGridlines]="false" 
            [globalFilterFields]="['supplierName']"
            [rows]="2"
            [first]="0"
            [paginator]="true"
            [rowsPerPageOptions]="[2, 4,6]"  
            [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} - {last} {{ this.sharedService.T('of') }} {totalRecords} "
            [sortOrder]="-1" 
            sortField="supplierId" 
            data-testid="supplier-table">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="rounded-l-xl" pSortableColumn="supplierId">
                            <p-sortIcon field="supplierId" />
                        </th>
                        <th>{{ this.sharedService.T('supplierName')}}</th>
                        <th>{{ this.sharedService.T('address')}}</th>
                        <th>{{ this.sharedService.T('telephone')}}</th>
                        <th>{{ this.sharedService.T('extraInfo')}}</th>
                        <th class="rounded-r-xl">{{ this.sharedService.T('actions')}}</th>
                    </tr>
                    <tr>
                        <th></th>
                    <th>
                         <p-columnFilter type="text" field="supplierName" placeholder="{{this.sharedService.T('search') }} {{this.sharedService.T('supplier') }}" ariaLabel="Filter Name" filterOn="input"></p-columnFilter>
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>   
              </tr>     
                </ng-template>

                <ng-template pTemplate="body" let-supplier>
                    <tr>
                        <td class="id-column-cell rounded-l-lg">
                            <span class="id-text">{{ supplier.supplierId }}</span>
                        </td>

                        <td>{{ supplier.supplierName }}</td>
                        <td>{{ supplier.supplierAddress }}</td>
                        <td>{{ supplier.supplierTelephone }}</td>
                        <td>{{ supplier.supplierExtraInfo }}</td>
                        <td class="rounded-r-lg">
                            <p-button size="small" icon="pi pi-pencil" severity="secondary"
                                     (onClick)="supplierCrud(supplier.supplierId)">
                        </p-button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </form>

  <p-dialog
    header="{{ isNewObject ? (this.sharedService.T('createSupplier')) : (this.sharedService.T('editSupplier')) }}"
    [(visible)]="showSupplierDialog" [modal]="true" [style]="{ width: '600px' }" [draggable]="false"
    [resizable]="false">

    <form [formGroup]="supplierForm">
        <div class="bg-white rounded-xl shadow-none">
            
            <div class="flex flex-col gap-4">
                <div>
                    <label class="mb-2 block" for="supplierName">{{ this.sharedService.T('supplierName')}}</label>
                    <input type="text" formControlName="supplierName" class="w-full" [invalid]="!supplierForm.get('supplierName')?.value"  pInputText />
                </div>

                <div>
                    <label class="mb-2 block" for="supplierAddress">{{ this.sharedService.T('address')}}</label>
                    <input type="text" formControlName="supplierAddress" class="w-full" pInputText />
                </div>

                <div>
                    <label class="mb-2 block" for="supplierTelephone">{{ this.sharedService.T('telephone')}}</label>
                    <input type="text" formControlName="supplierTelephone" class="w-full" pInputText />
                </div>

                <div>
                    <label class="mb-2 block" for="supplierExtraInfo">{{ this.sharedService.T('extraInfo')}}</label>
                    <textarea formControlName="supplierExtraInfo" rows="4" cols="57" pTextarea></textarea>
                </div>

            </div>

            <div class="flex gap-4 mt-8">
                <p-button 
                [raised]="true"
                label="{{ isNewObject ? this.sharedService.T('createSupplier') : this.sharedService.T('updateSupplier') }}" 
                size="large"
                icon="pi pi-plus"
                (click)="onFormSubmit()"></p-button>
                <p-button 
                severity="secondary"
                label="{{ this.sharedService.T('cancel') }}" 
                size="large" 
                (click)="closeSupplierDialog()"></p-button>
            </div>

            <!-- <div class="flex justify-end gap-3 mt-6">
                <p-button
                    label="{{ isNewObject ? this.sharedService.T('create') : this.sharedService.T('update') }}"
                    (onClick)="onFormSubmit()">
                </p-button>
                <p-button styleClass="p-button cancel-button"
                    label="{{ this.sharedService.T('cancel') }}" (onClick)="closeSupplierDialog()">
                </p-button>
            </div> -->
        </div>
    </form>
</p-dialog>
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
</section>